
.container{
    display: grid;
    grid-template-rows: repeat(3,100px);
    grid-template-columns: repeat(4,1fr);
}

.caixa1{
    background-color: aqua;

    grid-row: 1/ span 1;
    grid-column: 1/ span 4;

    grid-area: 1 / 1 /  span 1 /  span 4;
}

.caixa2{
    background-color: blue;
  

    grid-row: 2 / span 2;
    grid-column: 1 / 3;

    grid-area:  2 / 1 /  span 2 /  span 2;
}

.caixa3{
    background-color: chartreuse;
   

    grid-row: 2 / span 2;
    grid-column: 3 / span 3;

     grid-area: 2 / 3 / 4 / 5;

}
