

.container{
    gap: 5px;
    display: grid;
    grid-template-columns: repeat(6,1fr);;
    grid-template-rows: repeat(10, 50px)
     
    

}

.topo{
    background-color: aquamarine;

    grid-row: 1 / 3;
    grid-column: 1 / 7;
   

}

.menu{
    background-color: darksalmon;

    grid-row: 3 / 4;
    grid-column: 1 / 7;

}

.principal{
    background-color: blueviolet;

    grid-row: 4 / 10;
    grid-column: 1 / 5;

}

.secundario{
    background-color: chocolate;

    grid-row:  4 / span 6;
    grid-column: 5 / span 2 ;

}

.rodape{
    background-color: chartreuse;

    grid-row: 10 /  11;
    grid-column: 1 / 7;


}