
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

main{
       background-image: linear-gradient(to right, aqua, rgb(127, 195, 190));
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

section{
    background-color: white;
    height: 550px;
    width: 350px;
    border-radius: 15px;
        background-image: url(tecnologia.jpg);
    background-size: contain;
    background-repeat: no-repeat;

   
}

main > section > h1 {
    font-size: 1.5em;
    padding-top: 280px;
    padding-bottom: 5px;
    padding-left: 15px;
    
}

main > section > p{
    padding-left: 15px;
}

main >  section > aside{
    display: inline;
    padding-top: 400px;

  
}

main > section > div.item > img {
    padding-top: 19px;
    display: inline;
    
    
  


}

main > section > a{
     text-decoration: none;
    color: black;
    display: inline;
   

}








